.wrapper {
    margin: 30px auto;
    width: 80%;
    font-family: sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h1+p {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}


.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: 20px 0;
    border-bottom: 3px solid #888;
}

.tabs a:hover,
.tabs a.active {
    border-bottom: 3px solid $primaryColor;
}

.tabgroup .wrap-bg {
    padding: 8px;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

.tabSezone {
    @include padding();
}

.p0 {
    padding: 0px !important;
}

.sideImage {
    width: 25% !important;
}

.episode {
    height: 100%;
    position: relative;
    border-bottom: 1px solid $secondaryColor;
    padding: 0px 0px 50px 0px;

    .episode-img {
        display: block;
        transition: 0.2s opacity;
        width: 38%;
        float: left;

        img {
            width: 100%;
            object-fit: cover;

        }
    }

    .mgr32 {
        margin: 3% 0% !important;
        padding-left: 30%;

    }

    .h80 {
        height: 80px;
    }

    .episode-body {

        position: relative;
        margin: 0% 2%;
        width: 100%;

        .episode-title {

            a {
                color: $mainFontColor;

            }


        }

        .episode-episode-sub_title {
            a {
                color: $primaryColor;
                letter-spacing: 5.35px;
                text-transform: uppercase;
            }
        }

        .episode-duration {}


        .episode-desc {

            position: relative;
            padding: 1px;
        }
    }

    .episode-sub_title {
        letter-spacing: 5.35px;
        text-transform: uppercase;
        margin: 2px 0px;
    }



}

#sectionp {
    @include padding();
    margin-top: 90px;
}



@media only screen and (max-width: 768px) {
    .tabSezone {
        padding-left: 5% !important;
        padding-right: 5% !important;

    }

    .episode {
        padding: 0px 0px 10px 0px;
    }

    .episode-img {
        width: 100% !important;
        float: none !important;
    }

    .episode-body {
        margin-left: 0px !important;
    }
}

.share-button {
    padding: 0px 0px 13px 25px;
    position: relative;

    img {
        width: 18px;
        height: 18px;
        height: 18px;
        position: absolute;
    }

    &:hover .fb_iframe_widget {
        width: 200px;
    }
}
