.header2 {
    flex-wrap: wrap;
}


.nav-container {
    max-width: 100vw;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 21;
    background: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

// Navigation 
nav {
    width: 60%;
    margin: auto;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 17%;

        li {
            float: left;
            position: relative;
            transition: 0.5s ease;

            h5 {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
            }

            &:hover {
                background: $primaryColor;
                color: $nav-font-color;
                text-decoration: none;
            }

            a,
            a:visited {
                display: block;
                padding: 0 20px;
                line-height: $nav-height;
                color: $nav-font-color;
                text-decoration: none;
                line-height: 60px;

                &:hover {
                    color: $nav-font-color;
                    text-decoration: none;
                }



                &:not(:only-child):after {
                    padding-left: 4px;
                    content: ' ▾';
                }
            }

            // Dropdown list
            ul li {
                min-width: 190px;



                a {
                    padding: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    height: $nav-height;
    width: $nav-height;
}



#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;

    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #f7ffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    span:before {
        top: -10px;
    }

    span:after {
        bottom: -10px;
    }

    &.active span {
        background-color: transparent;

        &:before,
        &:after {
            top: 0;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

#wrap {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;


    input[type="text"] {
        height: 28px;
        font-size: inherit;
        display: inline-block;
        font-weight: 60;
        border: none;
        outline: none;
        color: #555;
        padding-left: 60px;
        width: 0px;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        left: 2%;
        background: none;
        z-index: 3;
        -webkit-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
        transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
        cursor: pointer;
    }

    input[type="text"]:focus:hover {
        border-bottom: 1px solid #BBB;
    }

    input[type="text"]:focus {
        width: 200px;
        z-index: 1;
        border-bottom: 1px solid #BBB;
        cursor: text;
    }

    input[type="submit"] {
        height: 28px;
        width: 28px;
        display: inline-block;
        color: red;
        background: url("/assets/images/Search-lupa-ikonica.svg") center center no-repeat;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        left: 2%;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        cursor: pointer;
        -webkit-transition: opacity .4s ease;
        transition: opacity .4s ease;
    }

    input[type="submit"]:hover {
        opacity: 0.8;
    }
}

.kockaZuta {
    height: 100%;
    width: 99px;
    background: $primaryColor;
}

.search {
    width: 20%;
}

.sheader {
    width: 20%;
}

.brandf {
    width: 69px;
    transition: 0.7s ease;
    position: relative;
    float: right;

    .podrzite {
        height: 39px;
        font-size: inherit;
        display: inline-block;
        padding-right: 60px;
        width: 0px;
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        right: 14%;
        background: none;
        z-index: 3;
        transition: width 0.4s ease;
        cursor: pointer;
        overflow: hidden;
    }

    a {
        img {
            position: relative;
            z-index: 4;
            padding: 20%;
            background: #ffffff;
        }
    }

}

.brandf:hover .podrzite {
    width: 280px;
}

.header1 {
    background-color: $secondaryColor;

    .gornji {
        @include paddinglr;
        overflow: hidden;


    }
}

#myBtnContainer button {
    margin: auto !important;
}


#myBtnContainer {
    width: 100%;

}

#myBtnContainer a {
    margin-right: 6px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;

    p {
        margin: 0 !important;
    }

}

.dx {
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
