@mixin paddinglr {
    padding-left: 15%;
    padding-right: 15%;
}

@mixin paddinglrB {
    padding-left: 6%;
    padding-right: 6%;
}

@mixin padding {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}

@mixin marginY {
    margin-top: 4%;
    margin-bottom: 6%;
    margin-left: 0;
    margin-right: 0;
}
