@charset "UTF-8";

.nav-container {
    max-width: 100vw;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 21;
    background: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

nav {
    width: 60%;
    margin: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 17%;
}

nav ul li {
    float: left;
    position: relative;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

nav ul li h5 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

nav ul li:hover {
    background: #f5b52b;
    color: #000000;
    text-decoration: none;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #000000;
    text-decoration: none;
    line-height: 60px;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    color: #000000;
    text-decoration: none;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
        background-color: #f5b52b;
        height: 100vh;
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    nav ul li {
        float: none;
        background-color: #f5b52b;
        margin-top: 20px;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000000;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#wrap {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
}

#wrap input[type="text"] {
    height: 28px;
    font-size: inherit;
    display: inline-block;
    font-weight: 60;
    border: none;
    outline: none;
    color: #555;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    right: 32%;
    background: none;
    z-index: 3;
    -webkit-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
    cursor: pointer;
}

#wrap input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
}

#wrap input[type="text"]:focus {
    width: 200px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

#wrap input[type="submit"] {
    height: 28px;
    width: 28px;
    display: inline-block;
    color: red;
    background: url("/assets/images/Search-lupa-ikonica.svg") center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    right: 32%;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    background-size: cover;
}

#wrap input[type="submit"]:hover {
    opacity: 0.8;
}

.kockaZuta {
    height: 100%;
    width: 99px;
    background: #f5b52b;
}

.search {
    width: 20%;
}

.brandf {
    width: 10%;
}

.brandf {
    width: 10%;
    height: auto;
    background: #B1B1B1;
}

.brandf div {
    -webkit-transform: translate(20%, 50%);
    transform: translate(20%, 50%);
}

.brandf div h5 a {
    color: white;
}

.header1 {
    background-color: #363636;
}

.header1 .gornji {
    padding-left: 12%;
    padding-right: 12%;
}

.header1 .gornji a {
    margin: auto;
}

.header1 .gornji a p {
    color: white;
    margin: 5px 0px;
}

footer {
    padding-left: 12%;
    padding-right: 12%;
}

footer .footerLogo img {
    width: 100%;
}

.patreon {
    background: #B1B1B1;
    width: 100%;
    color: white;
    padding: 10px;
    margin: 32px 0px;
    height: 100%;
}

.bottomFooter {
    color: white;
    background: #363636;
    position: absolute;
    width: 100%;
    left: 0;
}

.footerLista {
    margin: 7px 2px;
}

.footerLista li a {
    color: #363636;
}

.main {
    padding-left: 12%;
    padding-right: 12%;
}

.main .mainTekst {
    width: 100%;
}

.overlayHome {
    height: 100%;
    background: transparent -webkit-gradient(linear, left top, left bottom, from(#8B8B8B00), color-stop(85%, #00000080), to(#000000C4)) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(180deg, #8B8B8B00 0%, #00000080 85%, #000000C4 100%) 0% 0% no-repeat padding-box;
}

.homePic {
    background-image: url("../images/Homepage_cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
}

.buttonSeason {
    background: transparent;
    color: white;
    display: inline;
    padding: 7px 25px;
    border: 2px solid white;
    font-size: 16px;
    letter-spacing: 2.1px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border-radius: 0px !important;
    cursor: pointer;
    width: 100%;
    margin: 5px;
    font-weight: bold;
}

.buttonSeason:hover {
    background: #ffffff;
    color: black;
}

.slika {
    margin: 5px;
}

.slika img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.slika:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.homeButtons {
    position: absolute;
    bottom: 1%;
    left: 0%;
    width: 100%;
}

.homeButtons .row {
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.div1 {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #363636;
}

.div1 .row {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 6%;
    margin-left: 0;
    margin-right: 0;
}

.hafter {
    position: relative;
}

.hafter::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    right: 0;
    height: 0.1px;
    border-top: 3px solid #f5b52b;
    z-index: 1;
    width: 70px;
}

.hafterGrey {
    position: relative;
}

.hafterGrey::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    right: 0;
    height: 0.1px;
    border-top: 3px solid #B1B1B1;
    z-index: 1;
    width: 70px;
}

.post {
    height: 100%;
}

.post .post-img {
    display: block;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.post .post-img img {
    height: 22vh;
    -o-object-fit: cover;
    object-fit: cover;
}

.post .post-meta {
    margin-top: 15px;
    margin-bottom: 15px;
}

.post.post-row .post-body {
    margin-left: calc(40% + 30px);
    height: 100%;
    position: relative;
    padding: 2%;
}

.post.post-row .post-body .post-title {
    position: absolute;
    top: 0;
    left: 0;
}

.post.post-row .post-body .post-title a {
    color: black;
}

.post.post-row .post-body .post-site {
    position: absolute;
    bottom: 0;
    right: 0;
}

.post.post-row .post-body .post-readMore {
    position: absolute;
    left: 0;
    bottom: 0;
}

.post.post-row .post-body .post-readMore::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    right: 0;
    height: 0.1px;
    border-top: 3px solid #F5B52B;
    z-index: 1;
    width: 33px;
}

.post.post-row .post-body .post-readMore a {
    color: black;
}

.post.post-row .post-body .post-writer {
    position: absolute;
    right: 0;
    top: 0;
}

.post.post-row .post-body .post-writer a {
    color: #f5b52b;
}

.post.post-row .post-body .post-desc {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 50%;
    position: relative;
    padding: 1px;
}

.post.post-row .post-img {
    width: 40%;
    float: left;
}

.postDiv {
    padding-left: 12%;
    padding-right: 12%;
}

.postDiv .row {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 6%;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    .post-body {
        width: 100%;
        position: relative;
        margin-top: 20px;
        margin-bottom: 35px;
        margin-left: 0px !important;
        height: auto !important;
    }

    .post.post-row .post-img {
        width: 100%;
        float: none;
    }

    .post-title {
        position: relative !important;
    }

    .post-readMore {
        position: relative !important;
    }
}

.slImage {
    height: 100vh !important;
    -o-object-fit: cover;
    object-fit: cover;
}

.pogledajSve {
    border-bottom: 1px solid #B1B1B1;
    padding-bottom: 3%;
}

.wrapper {
    margin: 30px auto;
    width: 80%;
    font-family: sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h1+p {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.tabs li {
    float: left;
    width: 25%;
}

.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: 20px 0;
    border-bottom: 3px solid #888;
    background: #f7f7f7;
}

.tabs a:hover,
.tabs a.active {
    border-bottom: 3px solid #f5b52b;
}

.tabgroup .wrap-bg {
    padding: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
}

.tabSezone {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.episode {
    height: 100%;
    position: relative;
    border-bottom: 1px solid #f5b52b;
    padding: 15px 5px;
}

.episode .episode-img {
    display: block;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    width: 25%;
    float: left;
    margin-top: 1%;
}

.episode .episode-img img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.episode .episode-body {
    position: relative;
    margin: 0% 2%;
    margin-top: auto;
    width: 100%;
}

.episode .episode-body .episode-title a {
    color: black;
}

.episode .episode-body .episode-episode-sub_title a {
    color: #f5b52b;
    letter-spacing: 5.35px;
    text-transform: uppercase;
}

.episode .episode-body .episode-desc {
    position: relative;
    padding: 1px;
}

#sectionp {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 90px;
}

@media only screen and (max-width: 768px) {
    .tabSezone {
        padding-left: 1% !important;
        padding-right: 1% !important;
    }

    .episode-img {
        width: 100% !important;
        float: none !important;
    }

    .episode-body {
        margin-left: 0px !important;
    }
}

.share-button {
    padding: 7px 25px;
}

.share-button img {
    width: 18px;
    height: 18px;
}

.item7-card-img img {
    height: 30vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.leftView {
    width: 60%;
    margin-left: 10%;
    margin-right: 25%;
}

.rightView {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    width: 25%;
    background: #fff;
    z-index: 10;
    -webkit-box-shadow: 0 0 0 1px rgba(181, 201, 227, 0.12), 0 8px 16px 0 rgba(181, 201, 227, 0.24);
    box-shadow: 0 0 0 1px rgba(181, 201, 227, 0.12), 0 8px 16px 0 rgba(181, 201, 227, 0.24);
    color: #605e7e;
}

.rightView .tabSezoneInfo {
    margin-left: 1%;
    margin-right: 1%;
}

.rightView .tabs {
    margin-top: 10%;
}

.rightView .tabs li {
    float: left;
    width: 25%;
}

.rightView .tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: 20px 0;
    border-bottom: 3px solid #888;
    background: #f7f7f7;
    margin: 4%;
}

.rightView .tabs a:hover,
.rightView .tabs a.active {
    border-bottom: 3px solid #f5b52b;
}

@media screen and (max-width: 1200px) {
    .tabs li {
        width: 50% !important;
    }
}

.single_episode {
    height: 100%;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.single_episode .single_episode-img {
    display: block;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    width: 100%;
    margin-top: 3%;
}

.single_episode .single_episode-body {
    height: 100%;
    position: relative;
    padding: 2%;
}

.single_episode .single_episode-body .single_episode-title a {
    color: #f5b52b;
}

.single_episode .single_episode-body .single_episode-single_episode-sub_title a {
    color: #f5b52b;
}

.single_episode .single_episode-body .single_episode-desc {
    height: 100%;
    position: relative;
    padding: 1px;
}

.single_episode .single_episode-body .single_episode-desc p {
    overflow-wrap: break-word;
    word-break: break-word;
}

.product-filter-icons a {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.4em;
    border-radius: 50%;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.product-filter-icons a :hover {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .leftView {
        width: 100%;
        margin: 0% !important;
        padding: 5% 2%;
    }

    .rightView {
        width: 100%;
        position: relative !important;
    }
}

body {
    color: #363636 !important;
}

a {
    color: #9ccefa;
}

p {
    word-break: break-all;
}

.ghost {
    color: #B1B1B1;
}

img {
    width: 100%;
}

.facebook-bg {
    background: #3b5998;
    color: #fff;
}

.twitter-bg {
    background: #0c85d0;
    color: #fff;
}

.google-bg {
    background: #c63224;
    color: #fff;
}

.dribbble-bg {
    background: #e62a72;
    color: #fff;
}

.pinterest-bg {
    background: #8c0615;
    color: #fff;
}

.bg-background3 .header-text {
    position: relative;
    z-index: 10;
}

.bannerimg {
    background: #f5b52b;
    padding: 5rem 0 3rem 0;
}

.bannerimg .breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0 !important;
    list-style: none;
    border-radius: 3px;
    left: 0;
    bottom: 0;
    padding: 0 !important;
    background-color: transparent !important;
}

.scDiv {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 166px;
    width: 100%;
}

.single-features-light {
    overflow-y: scroll;
    height: 100%;
    height: 70vh;
}

.soundcloud-main {
    padding: 1% 5%;
    background: #333333;
}

/*# sourceMappingURL=app.css.map */
